.countryCard{
    border:1px solid green;
    border-radius: 5px;
    margin: 5px;
    padding:5px;
}
.countryCard img{
    width: 200px;
}
.visited-country{
    background-color: lightgreen;
    color:green;
}